In [ ]:
Conditional Statements:
    
    if boolean_equivalent:
        python statements
        python statements
    elif boolean_equivalent:
        more python statements
        ....
    else:
        ....

In [ ]:
boolean_equivalent is anything which return boolean value True or False.

In [ ]:
list_of_truthy = [[0],True,8,9.7,-560,-432.76,(1,2),[''],'apple',{'python':3},{1,2}]
falsy = [False,[],{},set(),'',0,0.0,None,()]

Operators:-
    - Comparison Operators
    - Logical Operators
    - Identity Operators
    - Membership Operators

In [ ]:
Why do we use a loop?
Why do we want to iterate?

In [3]:
amounts = [10,30,4055,100,78,899]

print('Received Paytm payment of Rs',amounts[0])
print('Received Paytm payment of Rs',amounts[1])
print('Received Paytm payment of Rs',amounts[2])
print('Received Paytm payment of Rs',amounts[3])
print('Received Paytm payment of Rs',amounts[4])
print('Received Paytm payment of Rs',amounts[5])

Received Paytm payment of Rs 10
Received Paytm payment of Rs 30
Received Paytm payment of Rs 4055
Received Paytm payment of Rs 100
Received Paytm payment of Rs 78
Received Paytm payment of Rs 899

In [2]:
amounts = [10,30,4055,100,78,899]

for amount in amounts:
    print('Received Paytm payment of Rs',amount)

Received Paytm payment of Rs 10
Received Paytm payment of Rs 30
Received Paytm payment of Rs 4055
Received Paytm payment of Rs 100
Received Paytm payment of Rs 78
Received Paytm payment of Rs 899

In [4]:
bool(4)

True

In [5]:
bool(0)

False

In [6]:
bool(None)

False

In [7]:
bool([])

False

In [8]:
bool(['ij'])

True

In [ ]:
Iterables:
    list
    dict
    tuple
    set
    str
    
Non Iterables:
    int
    float
    None
    bool

In [9]:
x = 'apple'
for i in x:
    print(i)

a
p
p
l
e

In [10]:
x = 'women'
print(x[2:])

men

In [11]:
x = 'she'
print(x[1:])

he

In [12]:
x = ['apple','mango','banana','kiwi','dragonfruit','pineapple']
print(x[2:6])

['banana', 'kiwi', 'dragonfruit', 'pineapple']

In [ ]:
Slicing is possible wherever indexing is possible.

## Q1Make a list of numbers from 1 to 10 and loop over them and print ('yes') if it is a even number and ('no') if it is odd.

In [ ]:
20:03

In [ ]:
- Do this on jupyter notebook.
- Test it.
- Send it in the chat.

In [14]:
x = [1,2,3,4,5,6,7,8,9,10]
for no in x:
    if no%2 == 0:
        print('yes')
    else:
        print('no')

no
yes
no
yes
no
yes
no
yes
no
yes

# len() builtin function`

In [ ]:
len() is used on iterables.
Iterables:
    list
    dict
    tuple
    set
    str

In [15]:
x = ['apple','mango','banana']
print(len(x))

3

In [16]:
x = ('apple','mango','banana')
print(len(x))

3

In [17]:
x = {'python':3,'java':8,'numpy':1,'pandas':1}
print(len(x))
#here you get count of key:value pairs.

4

In [19]:
x = {'python',1,1,1,1,2,2,2,2}
print(x)
# set does not contain duplicate elements
print(len(x))

{1, 'python', 2}
3

In [23]:
x = 'Rohan Loves  Python'
print(len(x))

19

In [21]:
y = ['red',6,7,8]    
print(len(y[0]))

3

# range() builtin function

In [28]:
# Syntax
range(start, stop, step)

-> stop is exclusive
-> start is inclusive, by default(0)
-> step by default is 1

In [30]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
for no in range(1,11):
    print(no)

1
2
3
4
5
6
7
8
9
10

In [33]:
for no in range(1,11,3):
    print(no)

1
4
7
10

In [34]:
for no in range(1,11,2):
    print(no)

1
3
5
7
9

In [39]:
for ashish in range(10):
    print(ashish)

0
1
2
3
4
5
6
7
8
9

In [45]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [44]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

# help() builtin function

In [ ]:
help(object)

Note: Everything in python is an object

In [46]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [47]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Q2) Print multiplication table of 5

### Pseudocode:
    1)loop from 1 to 10
    2)for each item, print * of 5 with it.

In [ ]:
20:38

In [48]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

## Q3 Find out the sum of the numbers without using any builtin function and compulary use a for loop
numbersList = [23,25,-43,0,-56]

In [ ]:
20:45

In [49]:
numbersList = [23,25,-43,0,-56]
sum_of_num = 0
for no in numbersList:
    sum_of_num = sum_of_num + no
    
print(sum_of_num)

-51

In [51]:
numbersList = [1,21]
sum_of_num = 0
for no in numbersList:
    sum_of_num = sum_of_num + no
    
print(sum_of_num)

22

# sum builtin function

In [52]:
numbersList = [1,21]
sum(numbersList)

22

In [53]:
sum([23,25,-43,0,-56])

-51

# Q4 Find out the highest number in the following lists without using any builtin function and compulary use a for loop

Hint: use comparison operator and for loop.

x = [23,25,-43,0,-56] ans would be 25
x = [-5000,-5000000,-1] ans would be -1
x = [] ans should be empty list

In [55]:
# If you want to take infinity in python :

x = float('inf')
y = float('-inf')

print(x,y)

inf -inf


## Q5: In the following list of Person Informations.
 persons = [{'Name':'Mohit','Gender':'M','Profession':'teacher'},{'Name':
,'Kunal','Gender':'M','Profession':'engineer'},
{'Name':'Rashmi','Gender':'F','Profession':'doctor'}]

## if the profession is doctor check if the name starts with M print 'doctor M' else print 'doctor' 
## if the professtion is engineer, check if the gender is M, if yes print 'engineer bhaiyya' else print 'engineer didi' 

## if the profeesion is actor , check if the last char of name is h, if yes print 'actor' or print 'lier' 

## if the profession is none of the above print('Wow what do you actually do??')

In [ ]:
Fibonacci Sequence:
1,1,2,3,5,8,13,21,34,.....